#characterCont {
	width: 20vw;
	/*height: 50vh;*/

	margin-left: 0vw;
	margin-top: 5vh;

	display: flex;
	flex-direction: column-reverse;

	flex-grow: 0;
	align-items: center;
}

	#characterCont #head {
		height: 12vh;
   		margin-left: -10px;
	}

	#characterCont #torso {
		height: 22vh;
		margin-top: -0.1vh;
	}

	#characterCont #legs {
		height: 40vh;
		margin-top: -4.5vh;
		margin-left: 3vh;
	}